// drop down menu basics
.webhandle-menus-1-drop-down {
	display: block;
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		display: inline-block;
		padding: 0 15px 10px 15px;
		
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: -6px;
			left: 0;
			right: 0;
			height: 4px;
			background-color: fade(white, 0);
			transition: background-color .3s, bottom .3s;
		}
		
		a {
			color: @menu-text-color;
			text-decoration: none;
		}
		
		// &:last-child {
		// 	margin-right: -15px;
		// }
		
		&.current:after, &:hover:after {
			background-color: @menu-underline-color;
			bottom: 0;
		}
		
		& > ul {
			position: absolute;
			opacity: 0;
			left: -20000px;
			transition: opacity .3s;
			text-align: left;
			padding: 5px 0px;
			margin: 0;
			margin-top: 10px;
			
			li {
				display: block;
				padding: 5px 15px 5px 15px;
				background-color: @menu-dropdown-background;
			}
			
			a {
				white-space: nowrap;
			}
		}
		
		&:hover > ul {
			z-index: 100;
			opacity: 1;
			left: 0;
		}
	}
}

.webhandle-menus-1-drop-down-mobile {
	position: fixed;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	top: 0;
	left: -20000px;
	opacity: 0;
	transition: opacity .3s;
	overflow: auto;
	padding: 50px 0;
	
	& > li {
		display: block;
		text-align: center;
		
		& > a {
			text-align: center;
			font-weight: 600;
		}
		
		& > ul {
			position: relative;
			left: auto;
			opacity: 1;
			text-align: center;
			
			a {
				text-align: center;
			}
		}
	}
	
	&.open {
		left: 0;
		opacity: 1;
		background-color: white;
	}
}

.webhandle-menus-1-tribar {
	width: 30px;
	margin: 10px 10px 0 0;
	cursor: pointer;
	
	.one, .two, .three {
		border-bottom: solid 3px;
		border-color: black;
	}
	.two {
		margin: 7px 0;
	}
}